<body>
<!-- Sidenav -->
<% include ../partials/sidebar %>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xl-12 mb-12 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">
                                    <h4>Natacha - BOT</h4>
                                    <a href="https://discordapp.com/oauth2/authorize?client_id=585733287700332554&scope=bot&permissions=8" target="_blank">
                                    https://discordapp.com/oauth2/authorize?client_id=585733287700332554&scope=bot&permissions=8
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include ../partials/footer %>
</div>
</div>
<!-- Include scripts -->
<% include ../partials/scripts %>
</body>