<body>
<!-- Sidenav -->
<% include ../partials/sidebar %>
<!-- Main content -->
<div class="main-content">
  <!-- Top navbar -->
  <% include ../partials/navbar %>
  <!-- Header -->
  <% include ../partials/header %>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance du BOT</h6>
                <h2 class="mb-0">Nombre de sanctions</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="chart-orders" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Membres bannis</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Membre</th>
                <th scope="col">Raison</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">
                  jiben22
                </th>
                <td>
                  Parce que
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="mb-0">Membres exclus</h3>
                  </div>
                  <div class="col text-right">
                    <a href="#!" class="btn btn-sm btn-primary">See all</a>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Membre</th>
                    <th scope="col">Raison</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">
                      jiben22
                    </th>
                    <td>
                      Parce que
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-8 mb-12 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Liste des sanctions</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Membre</th>
              <th scope="col">Guild</th>
              <th scope="col">Channel</th>
              <th scope="col">Raison</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < sanctions.length; i++) { %>
            <tr>
              <th scope="row">
                <% sanctions["id"] %>
              </th>
              <td>
                TEST
              </td>
              <td>
                general
              </td>
              <td>
                Parce que
              </td>
            </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <% include ../partials/footer %>
</div>
</div>
<!-- Include scripts -->
<% include ../partials/scripts %>
</body>

